<!-- Start footer -->
    <footer>
        <div class="text-center d-flex flex-column justify-content-evenly text-white">
            <div class="social">
                <a href='https://www.facebook.com/khaled14ramadan' target="_blank"><fa-icon [icon]="facebook" class="text-white m-2"></fa-icon></a>
                <a href='https://www.youtube.com/channel/UCWlgAi4SrmbsKoFGSNpxH2g' target="_blank"><fa-icon [icon]="youtube" class="text-white m-2"></fa-icon></a>
                <a href="https://www.linkedin.com/in/khaled-ramadan-978a14168" target="_blank"><fa-icon [icon]="linkedin" class="text-white m-2"></fa-icon></a>
                <a href="https://github.com/Khaled14Ramadan" target="_blank"><fa-icon [icon]="github" class="text-white m-2"></fa-icon></a>
            </div>
            <div>&copy; 2022 <span>Khaled Ramadan </span></div>
        </div>
    </footer>
    <!-- End footer -->
